<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<img class="pictures1" src="./assets/bryan.jpg" style="width:25%;height:25%;">

<div class="paragraph">
  
    <h4><p>I am Bryan Zamora, I like to have challenges, I am interested into coding, and practice sports. </p></h4>
  </div>

  <img class="pictures" src="./assets/tennis.jpg" style="width:30%;height:30%;">

<div class="paragraph1">
  
      <h4><p>One of the sports I like to play is tennis </p></h4>
    </div>