<div></div>
<img class="pictures1  img-fluid rounded" src="./assets/bryan.jpg" style="width:25%;height:25%;">

<div class="paragraph">
  
    <h4><p>I am Bryan Zamora, I like to have challenges, I am interested into coding, and practice sports. </p></h4>
  </div>

  <img class="pictures  img-fluid rounded" src="./assets/tennis.jpg" style="width:19%;height:19%;">

<div class="paragraph1">
  
      <h4><p>One of the sports I like to play is tennis </p></h4>
    </div>

    <router-outlet></router-outlet>
