.title {
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 1%;
}

.pictures {
margin-top: 50px;
margin-left: 5%;
margin-bottom: 10%;
/* display: inline-block; */



}
.pictures1 {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    transform: rotate(270deg);
    /* margin-left: 2%; */
    
    
    }
    

.paragraph {
    /* width: 600px;
    height: 200px; */
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 20px;
    background-color: rgba(167, 167, 167, 0.541);
    /* display: inline-block; */
    margin-left: 10%;
    padding: 3%;
    text-align:center;
}

.paragraph1 {
    /* width: 600px;
    height: 200px; */
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 20px;
    background-color: rgba(167, 167, 167, 0.541);
    /* display: inline-block; */
    margin-top: 10%;
    margin-left: 15%;
    padding: 3%;
}

.test3 {
    display: flex;
}
.test {
    flex:1;
}
.test2 {
    flex:1;
    margin-top: 10%;
    /* padding-bottom: 10%; */
}
.test4 {
    flex:1;
    margin-top: 1%;

}


/* 
.paragraph {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
     font-weight: normal;
            font-size: 1.75em;
     letter-spacing: .2em;
     line-height: 1.1em;
     margin:0px;
     text-align: center;
     text-transform: uppercase;
    } */