<h1 class=" title">About Me</h1>
<div class="jumbotron">
<img class="pictures1    img-fluid rounded" src="./assets/bryan.jpg" style="width:25%;height:25%;">
  
    <p class="paragraph">I am Bryan Zamora, I like to have challenges, I am interested into coding, and practice sports. </p>
  </div>

<br>
<div class="jumbotron">
  <img class="pictures  img-fluid rounded" src="./assets/tennis.jpg" style="width:19%;height:19%;">
  
      <p class="paragraph1">One of the sports I like to play is tennis </p>
    </div>

    <router-outlet></router-outlet>
