<h1 class="title">Work</h1>

<div class="jumbotron">

    <h3 class="categories ">UX/UI Designer</h3>

    <h4 class="subtitles">EzStop</h4>
    <h4 class="subtitles">Agocity</h4>


    <div class="container">
        <img class="images" src="./assets/ezstop.png" style="width:20%; height:20%;">
        <div class="middle">
            <a href="https://play.google.com/store/apps/details?id=com.agocity.ezstop&hl=en" target="_blank">
                <div class="text">View App</div>
            </a>
        </div>
        <img class="images2" src="./assets/agocity.png" style="width:15%; height:15%;">
    </div>
</div>

<div class="jumbotron">
    <h3 class="categories">Personals</h3>
    <div>Add a carrousel with personal designs </div>
</div>

<div class="jumbotron">
        <h3 class="categories">Coding</h3>
        <h4 class="subtitles">Projects</h4>

<div class="container">
        <img class="images" src="./assets/github.png" style="width:20%; height:20%;">
        <div class="middle2">
            <a href="https://github.com/bzamora020" target="_blank">
                <div class="text">GitHub Profile</div>
            </a>
        </div>
    </div>
    </div>

<router-outlet></router-outlet>