<h1 class=" title">About Me</h1>

<div class="jumbotron test3">
  <div class="test">
    <img class="pictures1 img-fluid rounded " src="./assets/bryan.jpg" style="width:50%;height:70%;">
  </div>
  <div class="test2">
    <p class="paragraph">I am Bryan Zamora, I like to have challenges, I am interested into coding, practice sports, and play video games. </p>
  </div>
</div>

<br>
<div class="jumbotron test3">

  <div class="test">
    <img class="pictures  img-fluid rounded" src="./assets/tennis.jpg" style="width:45%;height:70%;">
  </div>
  <div class="test2">
    <p class="paragraph1">Some of the sports that I like to play during my spare time are Tennis and Soccer </p>
  </div>
</div>
<br>


<div class="jumbotron  test3">

  <div class="test">
    <img class="pictures  img-fluid" src="./assets/controller.png" style="width:40%;height:50%;">
  </div>
  <div class="test4">
    <p class="paragraph1">I like to play video games in my spare time. Some of the genres I play the most are MOBA games, battle royale games,
      shooters, and MMORPG </p>
  </div>
</div>
<br>
<div class="jumbotron test3">

  <div class="test">
    <img class="pictures  img-fluid rounded" src="" alt="Family Picture" style="width:45%;height:70%;">
  </div>
  <div class="test2">
    <p class="paragraph1"> My family is composed of three members. My mom, my sister, and myself. </p>
  </div>
</div>

<router-outlet></router-outlet>