<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">Blog</h1>
        <p class="lead">
          by
          <a >Bryan Zamora</a>
        </p>
        <hr>
        <p>Created on January 30, 2018</p>
        <hr>
        <img class="img-fluid rounded" src="./assets/comment.png"  alt="">
        <hr>
        <h2>How can I become a better leader every day?</h2>
        <br>
        <h4>
          1-30-18
        </h4>
        <p>Today was my first day in the SEALS program, it was very exciting to wait until today to see what new things are we going t learn.  After the first day, I realized that I need to be more prepared before taking into the action.  I need to learn how to analize the situation better before acting, that will save me a lot of rime.  When we were working I decided to tell my partners to split up the work to be more effective as a group</p>
        <br>
        <h4>
          1-31-18
        </h4>
        <p>
          Today I woke up, and thought about a better strategy to solve the challenges.  I'm going to ask my peers for their ideas to group those, and see what we can come up with to solve the problems.  When I was trying to solve the challenge I got stuck, I thought aout asking my peers for help, but then I stayed a couple of minutes analyzing the situation, and I remembered how in SCLA we had to break down and pay more attention, so I did it.  I need to learn how to break down problems more effectively.
        </p>
        
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
            in faucibus.
          </div>
        </div>
        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
            in faucibus.
            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
            </div>
            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
<router-outlet></router-outlet>